[run]
source=.
omit= */migrations/*
      */tests/*
      config/*
      manage.py
      */htmlcov/*
plugins =
    django_coverage_plugin
[report]
omit= */migrations/*
      */tests/*
[html]
directory = htmlcov